vedis
asgiref==3.2.3
astroid==2.3.3
certifi
cffi
chardet==3.0.4
cryptography
Django==3.0
django-extensions==2.2.5
django-sslserver==0.22
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycparser==2.19
pylint==2.4.4
pyOpenSSL
pyTelegramBotAPI==3.6.6
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
typed-ast
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
